.mat-toolbar{
  margin-bottom: 10px;
  width: auto;
}
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: chartreuse !important; /* or any color you want */
}
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  color: chartreuse !important;
}
