<mat-card class="card ">
  <div class="card-body mat-elevation-z4" style="border-radius: 13px">
    <span class="card-title"> <b>Manage Order</b></span>
    <button type="button" class=" float-end custom-button" [disabled]="validateSubmit()"
            (click)="submit()"><i class="fa-sharp fa-solid fa-print"></i> Submit & Get Bill
    </button>
  </div>
</mat-card>
<hr>
<div class="mat-elevation-z5">
  <mat-card class="card ">
    <b>Customer Form: </b>
    <form [formGroup]="form">
      <div class="row">
        <div class="col">
          <mat-form-field class="col sb-mat-form-field  w-100 mat-form-field-underline">
            <mat-label style="color: black">Name</mat-label>
            <input style="color: black" class="sb-mat-input " matInput formControlName="name" required>
            <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
              <span *ngIf="form.controls['name'].errors?.['required']">Name is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="col sb-mat-form-field  w-100 mat-form-field-underline">
            <mat-label style="color: black">Email</mat-label>
            <input style="color: black" class="sb-mat-input" matInput formControlName="email" required>
            <mat-error *ngIf="FormControls['email']?.invalid && FormControls['email']?.touched">
              <span *ngIf="FormControls['email']?.errors?.['required']">Email is required.</span>
              <span *ngIf="FormControls['email']?.hasError('required')">Email is required.</span>
              <span *ngIf="FormControls['email']?.errors?.['pattern']">Email is invalid.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="col sb-mat-form-field  w-100 mat-form-field-underline">
            <mat-label style="color: black">Contact Number</mat-label>
            <input style="color: black" class="sb-mat-input" matInput formControlName="contactNumber" required>
            <mat-error *ngIf="form.controls['contactNumber'].invalid && form.controls['contactNumber'].touched">
              <span *ngIf="form.controls['contactNumber'].errors?.['required']">Contact Number is required.</span>
              <span *ngIf="form.controls['contactNumber'].errors?.['pattern']">Contact Number is invalid.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="col sb-mat-form-field  w-100 mat-form-field-underline">
            <mat-label style="color: black">Payment Method</mat-label>
            <mat-select style="color: black" class="sb-mat-input" formControlName="paymentMethod" required>
              <mat-option value="Cash">Cash</mat-option>
              <mat-option value="Credit Card">Credit Card</mat-option>
              <mat-option value="Debit Card">Debit Card</mat-option>
            </mat-select>

            <mat-error *ngIf="form.controls['paymentMethod'].invalid && form.controls['paymentMethod'].touched">
              <span *ngIf="form.controls['paymentMethod'].errors?.['required']">Payment Method is required.</span>
              <span *ngIf="form.controls['paymentMethod'].errors?.['pattern']">Payment Method is invalid.</span>
            </mat-error>
          </mat-form-field>
        </div>


      </div>
    </form>
  </mat-card>
</div>
<hr>
<div class="mat-elevation-z5">
  <mat-card class="card ">
    <b>Select Product: </b>
    <form [formGroup]="form">
      <div class="row">
        <div class="col">
          <mat-form-field class="col sb-mat-form-field  w-100 mat-form-field-underline">
            <mat-label style="color: black">Category</mat-label>
            <mat-select style="color: black" class="sb-mat-input " (selectionChange)="getProductsByCategory($event.value)"
                        formControlName="category">
              <mat-option *ngFor="let category1 of categorys" [value]="category1">
                {{ category1.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="col sb-mat-form-field  w-100 mat-form-field-underline">
            <mat-label style="color: black">Product</mat-label>
            <mat-select style="color: black" class="sb-mat-input " (selectionChange)="getProductDetails($event.value)"
                        formControlName="product">
              <mat-option  *ngFor="let product of products" [value]="product">
                {{ product.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="col sb-mat-form-field  w-100 mat-form-field-underline">
            <mat-label style="color: black">Price</mat-label>
            <input style="color: black" class="sb-mat-input " matInput formControlName="price" readonly>
            <mat-error *ngIf="form.controls['price'].invalid && form.controls['price'].touched">
              <span *ngIf="form.controls['price'].errors?.['required']">Price is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="col sb-mat-form-field  w-100 mat-form-field-underline">
            <mat-label style="color: black">Quantity</mat-label>
            <input style="color: black" class="sb-mat-input " matInput formControlName="quantity" required (keyup)="setQuantity($event)" #input>
            <mat-error *ngIf="form.controls['quantity'].invalid && form.controls['quantity'].touched">
              <span *ngIf="form.controls['quantity'].errors?.['required']">Quantity is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="col sb-mat-form-field  w-100 mat-form-field-underline">
            <mat-label style="color: black">Total</mat-label>
            <input style="color: black" class="sb-mat-input " matInput formControlName="total" readonly >

          </mat-form-field>
        </div>
      </div>
    </form>
    <div>
      <button type="button" class="custom-button" [disabled]="validateProductAdd()"
              (click)="add()"><i class= "fa-solid fa-add"></i> Add
      </button>
      <button type="button" class=" float-end custom-button" ><i class= "fa-solid fa-circle-dollar-to-slot"></i> Total Amount : {{totalAmount}}
      </button>
    </div>
  </mat-card>
</div>
<hr>
<div class=" responsive_table">
  <table mat-table class="table  table-hover table-responsive table-striped text-center mat-elevation-z8"
         [dataSource]="dataSource" style="background-color: snow">
    <ng-container matColumnDef="sn">
      <th  *matHeaderCellDef>S.N</th>
      <td mat-cell *matCellDef=" let i = index"><b>{{ i + 1 }}</b></td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th  *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th  *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th  *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th  *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th  *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">{{ element.total }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th  *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let i = index" class="action-link">
        <button mat-icon-button color="warn" matTooltip="Delete" (click)="handleDelete(i, element)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
