mat-form-field{
  padding: 5px
}

mat-card{
  background: white !important;
  padding: 20px !important;
}
th, td {
  text-align: center !important;
  padding: 10px;
  vertical-align: middle;
}
th{
  //background-color: ivory;
  font: bold;
}
.custom-button {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 550;
  color: white;
  background-color: #9c27b0; /* Purple color similar to the image */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #7b1fa2; /* Darker shade for hover state */
}

.custom-button:disabled {
  box-shadow: none;
  opacity: 0.6; /* Added to further indicate the disabled state */
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: black !important;
}


.mdc-text-field--filled:not(.mdc-text-field--disabled),
.sb-mat-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
  padding: 0px !important;
  text-overflow: ellipsis;
}
hr{
  border: 1px solid #000000 !important;
}
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: chartreuse !important; /* or any color you want */
}
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  color: chartreuse !important;
}
