mat-card{
  padding: 20px !important;
  background: white !important;
}
th, td {
  text-align: center !important;
  padding: 10px;
  vertical-align: middle;
}
th{
  //background-color: ivory;
  font: bold;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: black !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.sb-mat-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
  padding: 0px !important;
  text-overflow: ellipsis;
}


/* Ensures consistent styling for the horizontal rule */
hr {
  border: 1px solid #000000 !important;
}
