<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" style=" width: auto">
    <span>Confirmation</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close float-end" mat-icon-button mat-dialog-close>
      <i class="fa fa-times"></i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
  <h6>Are you sure you want to {{details.message}}</h6>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="handleChangeAction()"><i class="fa fa-check">Yes</i></button>
  <button mat-raised-button color="warn" mat-dialog-close><i class="fa fa-times">No</i></button>
</mat-dialog-actions>
