<mat-nav-list>
  <div *ngFor="let menuitem of menuItems.getMenuItems()">
    <div class="mt-3"
         *ngIf="menuitem.type === 'link'
        && (menuitem.role === '' || menuitem.role === userRole)"
         routerLinkActive="selected">
      <a mat-list-item matListItemTitle [routerLink]="['/cafe/', menuitem.state]">
        <i class="fa fa-home" *ngIf="menuitem.state === 'dashboard'"><span>&nbsp;&nbsp;&nbsp; {{ menuitem.name }}</span></i>
        <i class="fa-duotone fa-solid fa-bowl-food"
           *ngIf="menuitem.state === 'category'"><span>&nbsp;&nbsp;&nbsp; {{ menuitem.name }}</span></i>
        <i class="fa-brands fa-product-hunt"
           *ngIf="menuitem.state === 'product'"><span>&nbsp;&nbsp;&nbsp; {{ menuitem.name }}</span></i>
        <i class="fa-duotone fa-solid fa-cart-shopping"
           *ngIf="menuitem.state === 'order'"><span>&nbsp;&nbsp;&nbsp; {{ menuitem.name }}</span></i>
        <i class="fa-sharp fa-solid fa-receipt"
           *ngIf="menuitem.state === 'bill'"><span>&nbsp;&nbsp;&nbsp; {{ menuitem.name }}</span></i>
        <i class="fa-sharp fa-solid fa-user"
           *ngIf="menuitem.state === 'user'"><span>&nbsp;&nbsp;&nbsp; {{ menuitem.name }}</span></i>
      </a>
    </div>
  </div>

</mat-nav-list>

