table{
  border: 1px solid black
}

th, td {
  text-align: center !important;
  padding: 10px;
  vertical-align: middle;
  color: black;
  border-right: 1px solid black;
}
th{
  //background-color: ivory;
  font: bold;
}
