<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>{{ dialogData.action }} Category</span>
    <span class="spacer"></span>
    <button mat-icon-button mat-dialog-close>
      <i class="fa fa-times"></i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <div fxLayout="column">
      <div fxLayout="row wrap">
        <mat-form-field class="sb-mat-form-field w-100">
          <mat-label>Name</mat-label>
          <input matInput required formControlName="name">
          <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
            <span *ngIf="form.controls['name'].errors?.['required']">Name is required.</span>
          </mat-error>
        </mat-form-field>

      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
          [disabled]="form.invalid && !form.dirty">
    <i class="fa fa-save"> Save</i>
  </button>
  <button mat-raised-button color="warn" mat-dialog-close><i class="fa fa-times"> Close</i></button>
</mat-dialog-actions>
